@font-face {
    font-family: 'sans';
    src: url('/static/fonts/Iranian-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'sans', sans-serif;
}